html, body{
    height: 100%;
    background-image: url("../imgs/paper.jpeg");
    background-size: cover;
    background-position: center;    
}
.img-login{
	margin-bottom: 25px;
}
a {
    text-decoration: none;
    color: #FFF;
}
a:hover {
    color: #1a75dde7;
}
.topo-bar{
    background-color: #ECF9FF;
    height: 50px;
    width: 100%;
}
.navbar-brand{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -5px;
}
.navbar {
	background-color: #ECF9FF;
    color : white;
    height: 50px;
    border: 0px;
    width: 100%;
}
.listaNav > li > ul {
    padding: 0em 0em 0em 1em;
}
.listaNav > li > ul > li {
    margin: 0px;
}

.navbar-header{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 35px;
}

.form{
	margin-top: 30px;
}
.navbar-font .navbar-toggle {
    border-color: #ddd;
}
.navbar-font .navbar-toggle .icon-bar {
    background-color: #888;
}

.topo-perfil{
    margin-top: 0px;
    margin-bottom: 8px;
}
.profile-capa {
    background-color: #23466b;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
}
#img-modal{
     border-style: solid 2px;
     
}
.profile-header {
    padding: 45px 0 15px;
    position: relative;
    text-align: center;
    width: 100%;
}
.profile-header a{
	color: #fff;
}
.profile-header img{
    border: 3px solid white;
}
.profile-name {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
}
.profile-name .blockLink {
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 1px #333;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-weight: bold;
    margin-top: 3px;
	text-decoration: none;
}
.container{
    margin-top: 5px;
}
.alert-incompleto{
    margin: 10px 20px;
    padding: 10px;
}
.form-row{
    margin-left: 30px;
    margin-right: 30px;
}
.form-row-half{
    margin-left: 30px;
    margin-right: 30px;
    width: 40%;
    float: left;
}
#btn-salvar{
    margin-bottom: 10px;
    margin-left: 15px;
}
.pagination>li>a, .pagination>li>span{
    padding: 6px 8px;    
}
.pagination{
    padding-left: 20%;
}
.subtitle{
    border-bottom: solid;
    color: #083c52;
    padding: 3px 0px 2px;
}
.menu-opcao>a, .menu-opcao button{
    background-color: white;
    color: #083C52;
    border: solid 1px;    
}
.menu-opcao>.s650{
    display: none;
}    
.menu-opcao>.fs{
    display: table-cell;
}
.noticia{
    margin: 10px 20px 0px;
    border-bottom: solid 2px gray;
}
.titulo-noticia{
    color: #083C52;
}
.origem-noticia{
    margin-top: -20px;
    color: white;
    background-color: #23466b;
    border-radius: 10px;
    opacity: 0.7;
    padding-left: 10px;
}
.noticia>p{
    margin: 0px;
}
.noticia img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 800px) {
    .form-row-half{
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
        float: none;
    }
    .pagination{
        padding-left: 0;
    }
}    
@media only screen and (max-width: 650px) {
    .menu-opcao>.s650{
        display: table-cell;
    }    
    .menu-opcao>.fs{
        display: none;
    }
}