.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
    
.nav {
    background: #FFF;
    z-index: 200;
    position: relative;
    width: 20%;
    height: 100%;
    font-size: 1em;
    float: left;
    background: #083C52;
}
.container{
    height: 100%;
    width: 80%;
    float: right;
}

.nav ul {
    padding: 1em;
}
    
li {
    display: block;
    width: 100%;
    margin: 1em 2em 1em 0;
}
    
a {
    text-decoration: none;
    color: #FFF;
}
    
a:hover {
    color: #1a75dde7;
}
    
.nav-toggle {
    display: none;
}

/*Media Queries*/
@media only screen and (max-width: 800px) {
    .wrap {
        max-width: 100%;
        margin: 0;
    }
  .container{
      width: 100%;
  }
    .nav {
        width: 175px;
        position: fixed;
        top: 0;
        left: 0;
    }
	       
    .nav ul {
        padding: .5em;
        margin: 0;
        background: #083C52;
    }		
        
    li {
        margin: 0;
        padding: 0;
        display: block;
    }
       			
    li a {
        padding: 0.5em 0 0.5em 0;
        display: block;
        color: #FFF;
    }
  
            
    .nav-toggle {
        position: fixed;
        top: 8px;
        left: 15px;
        right: auto;
        color: #FFF;
        cursor: pointer;
        width: 36px;
        height: 36px;
        z-index: 9999;
        border-radius: 10%;
        display: block;
        background: #083C52;
        padding: 10px 6px 6px 6px;
    }
    .ico-bar {
        display: block;
        margin-bottom:4px;
        width: 24px;
        height: 3px;
        background-color: #cccccc;
        border-radius: 1px;
    }
}